body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  flex-direction: column;
}

.netflix-intro {
  display: flex;
  gap: 20px;
  transition: opacity 2s; /* Ensure the transition property includes opacity */
}

.letter-group {
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s, transform 1s;
}

.letter-group.fade-in {
  opacity: 1;
  transform: scale(1);
}

.letter {
  font-size: 5rem;
  font-weight: bold;
  color: white; /* Netflix Red */
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.progress-bar {
  width: 0;
  height: 5px;
  background-color: white; /* Netflix Red */
  transition: width 3s;
}

.progress-bar.load {
  width: 100%;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s;
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}
